//
//--------------------------------------------------------------------------
// Clearfix Mixin
//--------------------------------------------------------------------------
//

// Clearfix Mixin
// ======================================
@mixin clearfix {
    &:before,
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}
