//
//--------------------------------------------------------------------------
// Text truncate Mixin
//--------------------------------------------------------------------------
//

// Text truncate Mixin
// ======================================
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
